<style>
h1 {
  color: blue;
  }
ul {
  margin: 10; padding: 10;
}
li {
  margin: 10; padding: 10;
  font-size: 1.5em;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>